@import "tailwindcss";


@theme {
    /* Typography */
    --font-sans: 'Inter', sans-serif;
    --text-base: 14px;
    --text-heading: 16px;
    --text-title: 20px;
    --text-caption: 12px;
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;

    /* Colors */
    --color-primary: #1f2937; /* Gray-800 */
    --color-muted: #6b7280;   /* Gray-500 */
    --color-soft: #f9fafb;    /* Gray-50 */
    --color-accent: #2563eb;  /* Blue-600 */
    --color-danger: #dc2626;  /* Red-600 */
}

/*@layer base {*/
/*    .hover-scale {*/
/*        @apply transform transition-transform hover:scale-105 duration-100 hover:shadow-md;*/
/*    }*/
/*}*/

@layer components {
    .hover-scale {
        @apply transform transition-transform hover:scale-105 duration-100;
    }

    .hover-scale-extra {
        @apply transition hover:scale-105 hover:shadow-xl focus:ring-3 focus:outline-hidden
    }

    .text-title {
        font-size: var(--text-title);
        font-weight: var(--font-bold);
        color: var(--color-primary);
    }

    .text-heading {
        font-size: var(--text-heading);
        font-weight: var(--font-medium);
        color: var(--color-primary);
    }

    .text-muted {
        font-size: var(--text-caption);
        color: var(--color-muted);
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: var(--text-base);
        font-weight: var(--font-medium);
        border-radius: 0.375rem;
    }

    .btn-standard {
        @apply inline-block rounded-sm border border-current px-2 py-1 text-blue-600 text-sm;
        @apply transform transition-transform hover:scale-105 duration-100 hover:shadow-md;
    }

    .btn-standard-danger {
        color: var(--color-danger);
        @apply inline-block rounded-sm border border-current px-2 py-1 text-sm;
        @apply transform transition-transform hover:scale-105 duration-100 hover:shadow-md;
    }

    .btn-primary {
        background-color: var(--color-accent);
        color: white;
        border-radius: var(--radius-sm);
        padding: 0.3rem;
        font-size: var(--text-sm)
    }

    .btn-soft {
        background-color: var(--color-soft);
        color: var(--color-primary);
        border: 1px solid #d1d5db; /* Gray-300 */
    }

    .btn-danger {
        background-color: var(--color-danger);
        color: white;
    }

    .section {
        padding: 1.25rem;
        margin-bottom: 2rem;
    }

    .card {
        border: 1px solid #e5e7eb; /* Gray-200 */
        border-radius: 0.375rem;
        background-color: white;
        padding: 1rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
}